


<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>CodePen - animated form</title>
    <link href="{{ asset('css/stylelogin.css') }}" rel="stylesheet">


</head>
<body>
<!-- partial:index.partial.html -->
<div id="container" class="container">
    <!-- FORM SECTION -->
    <div class="row">
        <!-- SIGN UP -->
        <div class="col align-items-center flex-col sign-up">
            <div class="form-wrapper align-items-center">
                <div class="form sign-up">
                    <iframe src={{ asset('inscription') }}> </iframe>


                    <p style="margin-top: -10px">
							<span>
								Vous avez déjà un compte?
							</span>
                        <b onclick="toggle()" class="pointer">
                            Se connecter ici
                        </b>
                    </p>
                </div>
            </div>

        </div>
        <!-- END SIGN UP -->
        <!-- SIGN IN -->
        <div class="col align-items-center flex-col sign-in">
            <div class="form-wrapper align-items-center">

                    <div class="form sign-in">
                        {{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="input-group">
                            <i class='bx bxs-user'></i>
                            <h3>Demandez à réinitialiser votre mot de passe en renseignant votre Email </h3>
                            <br>
                            <div class="form-group">
                                {{form_row(form.email)}}
                            </div>
                        </div>

                        <div align="center" class="form-group">
                            <button  type="submit" class="btn btn-success">Envoyer </button>
                        </div>
                        {{form_end(form)}}

                    </div>
                </form>
            </div>
            <div class="form-wrapper">

            </div>
        </div>
        <!-- END SIGN IN -->
    </div>
    <!-- END FORM SECTION -->
    <!-- CONTENT SECTION -->
    <div class="row content-row">
        <!-- SIGN IN CONTENT -->
        <div class="col align-items-center flex-col">
            <div class="text sign-in">
                <h2 style="font-size:45px;  color:red" >
                    Mot de passe oublié ?
                </h2>

            </div>
            <div class="img sign-in">

            </div>
        </div>
        <!-- END SIGN IN CONTENT -->
        <!-- SIGN UP CONTENT -->

        <!-- END SIGN UP CONTENT -->
    </div>
    <!-- END CONTENT SECTION -->
</div>
<!-- partial -->
<script>let container = document.getElementById('container')

    toggle = () => {
        container.classList.toggle('sign-in')
        container.classList.toggle('sign-up')
    }

    setTimeout(() => {
        container.classList.add('sign-in')
    }, 200)</script>

</body>
</html>


