

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}} ) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Catégorie</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.donCategorie) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Cause</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.cause) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Date de l'évènement</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.date_creation) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Catégorie</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Transport</option>
                                    <option>Santé</option>
                                    <option>Environnement</option>
                                    <option>Pauvreté</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Visibilité</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked>
                                        Publique
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2">
                                        Privé
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-description">
                    Informations
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Région</label>
                            <div class="col-sm-9">
                                <select class="form-control">
                                    <option>Sousse</option>
                                    <option>Tunis</option>
                                    <option>Beja</option>
                                    <option>Medenine</option>
                                    <option>Monastir</option>
                                    <option>Mehdia</option>
                                    <option>Jendouba</option>
                                    <option>Nabeul</option>
                                    <option>Djerba</option>
                                    <option>Bizerte</option>
                                    <option>Gabés</option>
                                    <option>Gafsa</option>
                                    <option>Tozeur</option>
                                    <option>Kasserine</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Région</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.Region) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Image de l'évènement</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.coverImage) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Description</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.description) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Association organisatrice</label>
                            <div class="col-sm-9">
                                {{ form_widget(form.associationId) }}
                            </div>
                        </div>
                    </div>

                </div>
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}










