{% extends 'backoffice.html.twig' %}

{% block title %}Event Details{% endblock %}

{% block body %}

    <div class="row">

            <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Responsable : {{ evenement.associationId.name }}</p>
                        <div class="d-flex flex-wrap mb-5">
                            <img class="img-avatar" src="{{ evenement.associationId.photo }}" alt="Avatar">
                        </div>

                        <div class="d-flex flex-wrap mb-5">
                            <div class="mr-5 mt-3">
                                <p class="text-muted">Identifiant de l'association</p>
                                <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.associationId.userId }}</h3>
                            </div>

                            <div class="mr-5 mt-3">
                                <p class="text-muted">Ville</p>
                                <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.associationId.city }}</h3>
                            </div>

                            <div class="mr-5 mt-3">
                                <p class="text-muted">Gouvernerat</p>
                                <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.associationId.gouvernorat }}</h3>
                            </div>

                            <div class="mr-5 mt-3">
                                <p class="text-muted">Telephone</p>
                                <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.associationId.phone }}</h3>
                            </div>

                            <div class="mr-5 mt-3">
                                <p class="text-muted">Adresse e-mail</p>
                                <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.associationId.mail }}</h3>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex flex-wrap mb-5">
                        <img class="card-img-item" src="{{ evenement.coverImage }}" alt="Avatar">
                    </div>

                    <div class="mr-5 mt-3">
                        <p class="text-muted">Identifiant de l'évènement</p>
                        <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.eventId }}</h3>
                    </div>

                    <div class="mr-5 mt-3">
                        <p class="text-muted">Région</p>
                        <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.Region }}</h3>
                    </div>

                    <div class="mr-5 mt-3">
                        <p class="text-muted">Cause</p>
                        <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.cause }}</h3>
                    </div>

                    <div class="mr-5 mt-3">
                        <p class="text-muted">Participants</p>
                        <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.numParticipants }}</h3>
                    </div>

                    <div class="mr-5 mt-3">
                        <p class="text-muted">Montant Collecté</p>
                        <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.montantCollecte }}</h3>
                    </div>

                    <div class="mr-5 mt-3">
                        <p class="text-muted">Description</p>
                        <h3 class="text-primary fs-12 font-weight-medium">{{ evenement.description }}</h3>
                    </div>


                </div>
            </div>
        </div>

    </div>

<div class="col-md-12 grid-margin stretch-card">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1OlFj1UFQyAf7wdW4RSUCBT4A47joMsQn" width="100%" height="500px"></iframe>
</div>

    <div class="mr-5 mt-3">
        <a class = "btn btn-primary" href="{{ path('admin_evenement_index') }}">Retourner vers la liste</a>
    </div>

    <div class="mr-5 mt-3">
        <a class="btn btn-inverse-secondary" href="{{ path('admin_evenement_edit', {'eventId': evenement.eventId}) }}">Modifier</a>
    </div>

    <div class="mr-5 mt-3">

        <form method="post" action="{{ path('admin_evenement_delete', {'eventId': evenement.eventId}) }}" onsubmit="return confirm('Etes-vous sûr(e) de vouloir supprimer cet évènement?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.eventId) }}">
            <button class="btn btn-danger">Supprimer</button>
        </form>
    </div>

    <button type="button" class="btn btn-success btn-fw" onclick="showSuccessToast()">Success</button>




{% endblock %}
