{% extends 'backoffice.html.twig' %}

{% block title %}Posts{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block body %}

  <link rel="stylesheet" href="/css/apost.css" xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="/css/test/dist/notifications.css" >
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    <link rel="stylesheet" href="style.css">

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{{ asset('/css/test/dist/notifications.js') }}"></script>


  <section class="home-section">
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Auteur </div>
            <div class="number">{{ user.name }}</div>
            <div class="indicator">
              <i class='bx mdi-mailbox-up-outline'></i>
              <span class="text">{{ user.role }}</span>
            </div>
          </div>
          <img src="{{ vich_uploader_asset(user) }}" alt="puser" width="75px" class="rounded-image">
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Date publication</div>
            <div class="number">{{ post.postdate ? post.postdate|date('Y-m-d') : '' }}</div>
            <div class="indicator">
            </div>
          </div>
        </div>
        <div class="box">
          <div class="right-side">
            <center><div class="box-topic"> J'aimes </div>
            <div class="number">{{ post.likecount }}</div></center>
            <div class="indicator">

            </div>
          </div>

        </div>
        <div class="box">
          <div class="right-side">
            <center><div class="box-topic">Vus</div>
            <div class="number">{{ post.viewcount }}</div></center>
            <div class="indicator">

            </div>
          </div>

        </div>
      </div>

      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">{{ post.posttitle }}</div>
          <div class="sales-details">
            <ul class="details">
              <li class="topic">Contenu :</li>
              <li>
                <p>{{ post.postcontent }}</p>
              </li>
            </ul>

          </div>
          <canvas id="graph1" width="300" height="100"></canvas>
        </div>
        <div class="top-sales box">
          <div class="title">Boite a outil</div>
          <ul class="top-sales-details">
            <li>
              <form method="post" action="{{ path('admin_posts_delete', {'postid': post.postid}) }}">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.postid) }}">
                <script>const myNotification = window.createNotification({
                    theme : 'info'
                  });
                </script>
               <button  class="btn btn-inverse-danger"  onclick="myNotification({

                        title: 'Post supprimé !',
                        message: 'le post {{ post.posttitle }} est supprimé'
                        });"  >Supprimer publication</button>
              </form>
            </li>
            <li>
              <button  class="btn btn-inverse-danger"  onclick="myNotification({

                      title: 'utilisateur suspendu !',
                      message: 'le post {{ user.name }} est supprimé'
                      });"  >Suspendre l'utilisateur</button>
              </form>
            </li>
            <li>
              <button  class="btn btn-inverse-info"  >Evenement associé</button>
              </form>
            </li>
          </ul>
        </div>

      </div>
<br>
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Commentaires associés</div>
          <div class="sales-details">
            <ul class="details">

              {% for comments in comment %}

                <table>
                  <tr>
                    <td>
                      <div > <img src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" width="40" class="rounded-image">
                        <div class="d-flex flex-column ml-2">
                          <span class="name">{{ comments.commentauthor }} </span>
                          <span class="name"><small style="margin-left: revert">{{ comments.commentdate ? comments.commentdate|date('Y-m-d') : '' }}</small></span>
                          <small class="comment-text" style="font-size:20px">{{ comments.commentContent }}</small>

                          <div class="d-flex flex-row align-items-center status"></div>

                        </div>
                      </div>
                    </td>
                  </tr>
                </table>

                <hr>
              {% endfor %}

            </ul>

          </div>
        </div>
    </div>
      <br>
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Post créé par cet utilisateur</div>
          <div class="sales-details">
            <ul class="details">

              {% for bost in bost2 %}

                <table>
                  <tr>
                    <td>

                        <div class="d-flex flex-column ml-2">
                          <span class="name"><a href="{{ path('posts_show', {'postid': bost.postid}) }}">{{ bost.posttitle }}</a> </span>
                          <span class="name"><small style="margin-left: revert">{{ bost.postdate ? bost.postdate|date('Y-m-d') : '' }}</small></span>

                          <div class="d-flex flex-row align-items-center status"></div>

                        </div>

                    </td>
                  </tr>

                </table>

                <hr>
              {% endfor %}

            </ul>
          </div>
          </div>
        </div>
      </div>

    </div>
    </div>

  </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js" integrity="sha512-CWVDkca3f3uAWgDNVzW+W4XJbiC3CH84P2aWZXj+DqI6PNbTzXbl1dIzEHeNJpYSn4B6U8miSZb/hCws7FnUZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  let ctx = document.querySelector("#graph1")
  let graph= new Chart(ctx,{
    type: 'bar',
    data: {
      labels: ['Les j\'aime','Commentaires','Vus'],
      datasets: [
        {
          label: ['Resumé de cette publication'],
          data: [{{ post.likecount }}, {{ comment | length }},25],
          fill: true,
          backgroundColor:  [
            'rgba(255, 99, 132, 0.2)',
            'rgba(255, 159, 64, 0.5)',
            'rgba(255, 205, 86, 0.4)',],
          borderColor: 'rgb(255, 99, 132)',
          pointBackgroundColor: 'rgb(175,25,57)',
          pointBorderColor: '#fff',
          pointHoverBackgroundColor: '#fff',
          pointHoverBorderColor: 'rgb(255, 99, 132)'
        }
      ]
    }
  })
</script>

{% endblock %}
{% block footer %}
{% endblock footer %}
