{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>EventId</th>
                <td>{{ evenement.eventId }}</td>
            </tr>
            <tr>
                <th>DonCategorie</th>
                <td>{{ evenement.donCategorie }}</td>
            </tr>
            <tr>
                <th>Cause</th>
                <td>{{ evenement.cause }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ evenement.Region }}</td>
            </tr>
            <tr>
                <th>Num_participants</th>
                <td>{{ evenement.numParticipants }}</td>
            </tr>
            <tr>
                <th>Date_creation</th>
                <td>{{ evenement.dateCreation ? evenement.dateCreation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Montant_collecte</th>
                <td>{{ evenement.montantCollecte }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>CoverImage</th>
                <td>{{ evenement.coverImage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evenement_index') }}">back to list</a>

    <a href="{{ path('evenement_edit', {'eventId': evenement.eventId}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
