<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Helpline Charity - {% block title %}Free Charity Website Template{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">


    <!-- Favicon -->
    <link href="{{ asset('img/favicon.ico') }}" rel="icon">

    <!-- Google Font -->
    <link href="{{ asset('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap') }}" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css') }}" rel="stylesheet">

    <link href="{{ asset('lib/flaticon/font/flaticon.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">


    {% block stylesheets %}
    <!-- Template Stylesheet -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}


</head>
<body>
{% include 'shared/navbar.html.twig' %}

{% block body %} {% endblock %}

{% include 'shared/footer.html.twig' %}

</body>

</html>
