{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}
{% block carousel %}

    <!-- Carousel Start -->
    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{{ asset('img/carousel-1.jpg') }}" alt="Image">
                    </div>
                    <div class="carousel-text">

                        <h1>Let's be kind for children</h1>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasellus ut mollis mauris. Vivamus egestas eleifend dui ac consequat at lectus in malesuada
                        </p>
                        <div class="carousel-btn">
                            <a class="btn btn-custom" href="">Donate Now</a>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{{ asset('img/carousel-2.jpg') }}" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Get Involved with helping hand</h1>
                        <p>
                            Morbi sagittis turpis id suscipit feugiat. Suspendisse eu augue urna. Morbi sagittis, orci sodales varius fermentum, tortor
                        </p>
                        <div class="carousel-btn">
                            <a class="btn btn-custom" href="">Donate Now</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="{{ asset('img/carousel-3.jpg') }}" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h1>Bringing smiles to millions</h1>
                        <p>
                            Sed ultrices, est eget feugiat accumsan, dui nibh egestas tortor, ut rhoncus nibh ligula euismod quam. Proin pellentesque odio
                        </p>
                        <div class="carousel-btn">
                            <a class="btn btn-custom" href="">Donate Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Carousel End -->
{% endblock %}

{% block body %}
 <div class="service">
         <div class="section-header text-center">
             <p>Don Service</p>
             <h2>Merci pour votre service</h2>
 </div>
     <div class="row">
         {% for service in services %}
         <div class="section-header text-center">
             <div class="col-lg-3">
                 <div class="service-item">
                     <div class="service-content">

                         <div class="service-meta">
                             <p><i class="fa fa-map-marker-alt"></i>{{ service.lieu }}</p>
                             <p><i class="fa fa-calendar-alt"></i>{{ service.datedisponibilite ? service.datedisponibilite|date('Y-m-d') : '' }}</p>
                         </div>

                         <div class="service-text">
                             <h1> {{ service.typeservice }}</h1>
                             <h2>{{ service.description }} </h2>
                         </div>
                             <a class="btn btn-custom" href="{{ path('service_show', {'serviceid': service.serviceid}) }}">show</a>
                             <a class="btn btn-custom" href="{{ path('service_edit', {'serviceid': service.serviceid}) }}">edit</a>
                         <a class="btn btn-custom" href="{{ path('reclamation') }}">Réclamer</a>
                     </div>
                 </div>
             </div>
         </div>
         {% endfor %}

     </div>
 </div>

<div class="section-header text-center">
     <a class="btn btn-custom" href="{{ path('service_new') }}">Create new</a>
    <a class="btn btn-custom" href="{{ path('service_search') }}">Rechercher un don</a>
    <a class="btn btn-custom" href="{{ path('calendar_index') }}">Calendrier</a>

</div>
    <div class="pagination">
        {{ knp_pagination_render(services) }}
    </div>
{% endblock %}
