{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1>Service index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Serviceid</th>
                <th>Typeservice</th>
                <th>Lieu</th>
                <th>Datedisponibilite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.serviceid }}</td>
                <td>{{ service.typeservice }}</td>
                <td>{{ service.lieu }}</td>
                <td>{{ service.datedisponibilite ? service.datedisponibilite|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('service_show', {'serviceid': service.serviceid}) }}">show</a>
                    <a href="{{ path('service_edit', {'serviceid': service.serviceid}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_new') }}">Create new</a>
{% endblock %}
