{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Serviceid</th>
                <td>{{ service.serviceid }}</td>
            </tr>
            <tr>
                <th>Typeservice</th>
                <td>{{ service.typeservice }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ service.lieu }}</td>
            </tr>
            <tr>
                <th>Datedisponibilite</th>
                <td>{{ service.datedisponibilite ? service.datedisponibilite|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service_index') }}">back to list</a>

    <a href="{{ path('service_edit', {'serviceid': service.serviceid}) }}">edit</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
