{% extends 'base.html.twig' %}

{% block title %}EventComment index{% endblock %}

{% block body %}
    <h1>EventComment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Rating</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event_comment in event_comments %}
            <tr>
                <td>{{ event_comment.id }}</td>
                <td>{{ event_comment.createdAt ? event_comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event_comment.rating }}</td>
                <td>{{ event_comment.content }}</td>
                <td>
                    <a href="{{ path('event_comment_show', {'id': event_comment.id}) }}">show</a>
                    <a href="{{ path('event_comment_edit', {'id': event_comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_comment_new') }}">Create new</a>
{% endblock %}
