{{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

<center>

    <br>
    <div class="container1" >
        <div class="wrapper">
            <section class="post">
                <div class="content">
                    <div class="details">
                        <p>Aymen Zaabar</p>
                    </div>
                </div>

                <div class="options">
                    {{ form_label (form.posttitle,"Titre")}}
                    {{ form_widget(form.posttitle) }}
                    <b class="errorh" style="align-content:center">{{ form_errors(form.posttitle) }}</b>
                    {{ form_label (form.posttype,"Sujet")}}
                    {{ form_widget(form.posttype) }}
                    <b class="errorh" style="align-content:center">{{ form_errors(form.posttype) }}</b>

                </div>
                {{ form_label (form.postcontent,"Votre contenu")}}
                {{ form_widget(form.postcontent) }}
                <b class="errorh" style="align-content:center">{{ form_errors(form.postcontent) }}</b>
                <div class="options">
                    <p>Add to Your Post</p>
                    <ul class="list">
                        <li><img src="icons/gallery.svg" alt="gallery"></li>
                        <li><img src="icons/emoji.svg" alt="gallery"></li>

                    </ul>
                </div>

    <button >{{ button_label|default('Post') }}</button>
            </section>
        </div>
    </div>
</center>
{{ form_end(form) }}


